{% extends "base.html.twig" %}

{% block title %} Add Website {% endblock %}

{% block body %}

    <h1 class="title_index">Add Website</h1>

    <div class="form-group add">
        <h5>Please enter the URL address of the website you need.<h5>
        <form action="" method="post">
            <input name="url" type="text" class="form-control" placeholder="URL" id="inputDefault">
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

{% endblock %}