{% extends 'base.html.twig' %}

{% block title %}Site n°{% endblock %}

{% block body %}

<h1 class="title_index">Website Title</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">URL</th>
            <th scope="col">Date</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-primary">
            <td>{{ website.id }}</td>
            <td>{{ website.url }}</td>
            <td>Date</td>
            <td>200</td>
            <td class="button_show"><button type="button" class="btn btn-secondary"><a href="{{ path('show', {'id': website.id}) }}">Edit</a></button></td>
        </tr>
    </tbody>
</table>

<?php
$url = 'https://www.google.com';

print_r(get_headers($url));
?>

{% endblock %}
